
<div class="row">
	<ul class="collapsible">
	  <% bills.forEach((bill) => { %>
			<% var className %>

			<% if (bill.committee === "Planning, Land Use, and Sustainability") { -%>
				<% className = 'planningCommittee collapsible-header '; %>
			<% } else if (bill.committee === 'Government Performance and Finance') { -%>
				<% className = 'governmentCommittee collapsible-header' %>
			<% } else if(bill.committee === 'Public Safety, Civil Rights, and Technology') { %>
				<% className = 'publicSafetyCommittee collapsible-header' %>
			<% } else if(bill.committee === 'Transportation') { %>
				<% className = 'transportationCommittee collapsible-header' %>
			<% } else if(bill.committee === 'Energy and Environment') { %>
				<% className = 'energyCommittee collapsible-header' %>
			<% } else if(bill.committee === 'Housing, Human Services, Health, and Culture') { %>
				<% className = 'housingCommittee collapsible-header' %>
			<% } else if(bill.committee === 'Economic Resiliency and Regional Relations') { %>
				<% className = 'economicCommittee collapsible-header' %>
			<% } else if(bill.committee === 'Parks and Neighborhoods') { %>
				<% className = 'parksCommittee collapsible-header' %>
			<% } else if(bill.committee === 'Energy, Technology, and Civil Rights') { %>
				<% className = 'energyCommittee collapsible-header' %>
			<% } else if(bill.committee === 'Built Environment') { %>
				<% className = 'builtCommittee collapsible-header' %>
			<% } else if(bill.committee === 'Full Council') { %>
				<% className = 'fullCommittee collapsible-header' %>
			<% } else if(bill.committee === 'Libraries, Utilities, and Center') { %>
				<% className = 'librariesCommittee collapsible-header' %>
			<% } else { className = 'noCommittee collapsible-header' }-%>

			<li>
			  <div class="<%= className %>"><h6 class="committee-name"><%= bill.committee %></h6>&nbsp; &nbsp;<h6><%= bill.date_introduced_referred_to_committee %></h6>
			  </div>
			  <div class="collapsible-body">
			  	<p><%= bill.title %></p>
			  	<a href="<%= bill.url %>" target="_blank">View Full Bill</a>
			  </div>
			</li>
	  <% }) %>
	</ul>
</div>

